#cloud-config
users:
  - name: ubuntu
    groups: sudo
    shell: /bin/bash
    sudo: ["ALL=(ALL) NOPASSWD:ALL"]
    ssh_authorized_keys:
%{~ for key in ssh_public_keys}
      - ${key}
%{~ endfor ~}
package_update: true
package_upgrade: false
packages:
  - vim
  - nginx
